os:
  - linux

language: cpp

compiler:
  - gcc

env:
  - HEIMDALI_DATA_DIR=$TRAVIS_BUILD_DIR/heimdali-data 

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda-3.7.0-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda config --set always_yes yes --set changeps1 no
  - conda config --add channels http://conda.binstar.org/dfroger
  - conda update conda
  - conda install conda-build pip
  - pip install lettuce
  - hash -r
  - conda info -a

script:
  - conda build --no-test conda-recipe
  - conda install --use-local heimdali
  - git clone https://github.com/dfroger/heimdali-data
  - cd tests
  - lettuce
